<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card image-container p-3">
        <img [src]="product.productImages[selectedProductIndex].url " class="product-zoom">
      </div><div class="mt-2">
      <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1">
        <mat-grid-tile *ngFor="let file of product.productImages; let i=index"(click)="changeIndex(i)" style="border:1px solid lightgray; cursor: pointer;" >
          <img [src]="file.url" height="100px">
        </mat-grid-tile>
      </mat-grid-list></div>
    </div>
    <div class="col-6">
      <div class="product-information">
        <div class="mt-3">
          <h2>{{ product.pname }}</h2>
        </div>
        Descrption:<br />
        <div class="mt-3">{{ product.pdesc }}</div>
        <div class="mt-3">
          <b>Rs. {{ product.pprice }}</b>
        </div>
        <div class="mt-5 text-center">

        <button mat-raised-button color="warn" style="width: 150px" (click)="addToCart(product.pid)">Add to Cart</button></div>
      </div>
    </div>
  </div>
</div>
