<div class="container mt-3">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Search</mat-label>
    <input matInput #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" name="searchKey" id="searchKey" placeholder="Search Any Product">
    <mat-hint>Type Keyword</mat-hint>
  </mat-form-field>
  <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
    <mat-grid-tile *ngFor="let p of productDetails">
      <div class="row homepage-product-image ">
        <img  [src]="p.productImages[0].url" alt="" >

        <div class="mt-2">
          <p>
            <b>{{ p.pname }}</b>
          </p>
        </div>
        <div class="mt-2">
          <p style="white-space: inherit; height: 40px; width: 288px; overflow: hidden; text-overflow: ellipsis;">
            {{ p.pdesc }}
          </p>
        </div>
        <div class="mt-2">
          <p><b>
            Rs.{{ p.pprice }}
            </b>
          </p>
        </div>
        <div class="mt-2">
          <button type="button" mat-raised-button color="warn" (click)="showProductDetails(p.pid)">View Details</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
